.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Auth {
  margin-top: 10%;
  margin-bottom: 10%
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-overlay {
  background: rgba(36, 123, 160, 0.7);
}

.custom-modal {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
}
.custom-modal h3  {
  text-align: center;
}

.control-label {
  font-weight: bold;
  display: block;
  padding-top: 2px!important;
}